* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 1rem;
}
button {
  cursor: pointer;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 10px;
}
input {
  padding: 8px 15px;
  width: 320px;
}
input,
.user {
  margin: 10px 0;
}

.user div {
  display: flex;
}
